body {
    margin: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

#searchBar {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    padding: 40px 40px 0 40px;
    /* background-color: rgb(178, 184, 190); */
}


form #search {
    border: none;
    margin: 5px 20px;
    width: 582px;
    height: 34px;
    text-align: left;
    outline: none;
    font-size: 1.05em;
}

#search:focus {
    margin: none;
}

form {
    display:grid;
    justify-items: center;
    grid-gap: 2px;

}
#searchBox {
    border: 1px solid rgba(136, 136, 136, 0.61);
    padding: 2px 0 2px 0 ;
    border-radius:44px;
}

#searchBox:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.356);
}


form #btn {
    padding: 10px 20px;
    margin-bottom: 4px;
    margin: 7px auto;
    background-image: url(icon/icon.png);
    color:rgb(20, 80, 247);
    background-color: rgba(210, 229, 245, 0.171);
    border-radius: 10px;
    border: none;
    /* box-shadow: 1px 1px 1px silver; */
}

#btn:hover {
    box-shadow: 1px 1px 3px silver;
}

#OptionContainer {
    margin-bottom: 0;
    padding-bottom: 0;
}

ul {
    text-align: center;
    /* border: 1px solid black; */
    width: 50%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin-bottom: 0;
}
ul li {
    display:inline;
    list-style: none;
    padding: 10px;
}

ul li a {
    text-decoration: none;
    font-size: 1.08em;
    color: rgb(90, 87, 87);
}

ul li:first-child {
    border-bottom: 3px solid rgba(20, 118, 247, 0.76);
}

ul a:hover {
    color: rgb(41, 73, 214);
}

